<template name="message">
  <li>
    {{#if avatar}}
      <img src="{{avatar}}" class="user-avatar">
    {{/if}}
    <div class="message-body">
      <div>
        <span class="username">{{user.username}}</span>
        <span class="time">{{time timestamp}}</span>
        {{#if isOwner}}
          <a href="#" class="edit">Edit</a>
        {{/if}}
        {{#unless isPinned}}
        <a href="#" class="pin" title="pin this message"><i class="fa fa-thumb-tack"></i></a>
        {{/unless}}
      </div>
      {{#if isEditing.get}}
        {{> messageEditBox}}
      {{else}}
        <div class="message">{{#emojione}}{{#markdown}}{{#linkify}}{{message}}{{/linkify}}{{/markdown}}{{/emojione}}
          {{#if messageUrls}}
            {{#each messageUrls}}
              {{> oembed url=this}}
            {{/each}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </li>
</template>

<template name="messageEditBox">
  <div class="edit-box">
    <textarea cols="90" class="form-message-input">{{_removeTrailingNewLine message}}</textarea>
  </div>
</template>
