<template name="message">
  <li>
    {{#if avatar}}
      <img src="{{avatar}}" class="user-avatar">
    {{/if}}
    <div class="message-body">
      <div>
        <span class="username">{{user.username}}</span>
        <span class="time">{{time timestamp}}</span>
        {{#if isOwner}}
          <a href="#" class="edit">Edit</a>
        {{/if}}
      </div>
      {{#if isEditing.get}}
        {{> messageEditBox}}
      {{else}}
        <div class="message">{{#markdown}}{{#emoji}}{{message}}{{/emoji}}{{/markdown}}</div>
      {{/if}}
    </div>
  </li>
</template>

<template name="messageEditBox">
  <div class="edit-box">
    <textarea cols="90" class="edit-message-input">{{_removeTrailingNewLine message}}</textarea>
  </div>
</template>
