<template name="message">
  <li>
    {{#if avatar}}
      <img src="{{avatar}}" class="user-avatar">
    {{/if}}
    <div class="message-body {{#unless isNewAuthor}}no-avatar{{/unless}}">
      {{#if isNewAuthor}}
      <div>
        <span class="username">{{user.username}}</span>
        <span class="time">{{time timestamp}}</span>
      </div>
      {{/if}}
      {{#if isEditing.get}}
        {{> messageEditBox}}
      {{else}}
        <span class="modify">
          {{#if isOwner}}
          <a href="#" class="edit" title="Edit message"><i class="fa fa-pencil"></i></a>
          <a href="#" class="delete" title="Delete this message"><i class="fa fa-trash-o" data-action="remove-message"></i></a>
          {{/if}}
          {{#if isPinned}}
          <a href="#" data-action="unpin-message" title="Un-pin this message" class="pin pinned"><i class="icon fa fa-thumb-tack"></i></a>
          {{else}}
          <a href="#" data-action="pin-message" title="Pin this message" class="pin"><i class="icon fa fa-thumb-tack"></i></a>
          {{/if}}
        </span>
        <div class="message">{{#emojione}}{{#markdown}}{{#linkify}}{{message}}{{/linkify}}{{/markdown}}{{/emojione}}
          {{#if modifiedTimestamp}}
            <span class="info-text">&nbsp;(edited)</span>
          {{/if}}
          <span class="cursor"></span>
          {{#if messageUrls}}
            {{#each messageUrls}}
              {{> oembed url=this}}
            {{/each}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </li>
</template>

<template name="messageEditBox">
  <div class="edit-box">
    <textarea rows="1" cols="90" class="form-message-input">{{removeTrailingSpaces message}}</textarea>
  </div>
</template>
