<template name="leftSidebar">
  <aside id="left-sidebar">
    <div class="team">
      <span class="title">{{currentTeam.name}}</span>
    </div>
    {{#if currentUser}}
      {{> channelForm}}
      <ul>
        {{#each channels}}
          <li class="{{activeChannelClass}}"><a href="{{pathFor 'channel' team=currentTeam.slug channel=slug }}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
    <div class="user">
      {{#if currentUser}}
        {{#if currentUserAvatar}}
          <img src="{{currentUserAvatar}}" class="avatar">
        {{/if}}
        <a href="#" class="sign-out">{{currentUser.username}}</a>
      {{else}}
        {{#if loggingIn}}
          Logging in...
        {{else}}
          <a href="/sign-in">Login</a>
        {{/if}}
      {{/if}}
    </div>
  </aside>
</template>
