<template name="leftSidebar">
  <aside id="left-sidebar">
    <div class="team">
      <span class="title">{{currentTeam.name}}</span>
    </div>
    {{#if currentUser}}
      {{> channelForm}}
      <ul>
        {{#each channels}}
          <li class="{{activeChannelClass}}"><a href="{{pathFor 'channel' team=currentTeam.slug channel=slug }}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
    <div class="user sign-out">
      <img src="{{currentUserAvatar}}" class="avatar">
      <a href="#">{{currentUser.username}}</a>
    </div>
  </aside>
</template>
