.at-form {
  width: 300px;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
  margin-top: 5%;
}

.at-input {
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    padding: .5rem;
    font-size: .9rem;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: border 300ms ease-out;

    &:focus{
      outline: none;
      border: 2px solid $accent;
    }
  }
  span {
    display: block;
    margin-top: 5px;
  }
  &.has-error {
    input {
      border-color: red;
    }
    span {
      color: red;
    }
  }
}

.at-btn {
  border: 0;
  width: 100%;
  background-color: $accent;
  color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 3px;
  margin-bottom: 2rem;
  transition: background-color 300ms ease-out;
  cursor: pointer;

  &:hover{
    background-color: darken($accent, 20%);
  }
}

.at-signup{
  text-decoration: none;
  color: $accent;
  transition: color 300ms ease-out;

  &:hover{
    color: darken($accent, 20%);
  }
}