.channel {

  &-header {
    position: fixed;
    top: 0;
    height: $top;
    margin-left: $sidebar-width;
    background: white;
    width: 100%;

    * {
      display: inline-block;
    }

    &.home-header {
      margin-left: 0;
    }

    h1 {
      @include channel();
      padding: 0 $padding + 4px; // padding only on left and right side.
      margin: 0;
      line-height: 53px;
      color: $primary;
      font-size: 24px;
      font-weight: 900;

      i {
        font-size: 15px;
        color: #9e9ea6;
        font-weight: 500;
      }

      .topic {
        font-size: 15px;
        color: #9e9ea6;
        font-weight: 500;
        cursor: default;
        padding-left: 10px;
      }
    }
  }

  &-content {
    padding: 16px $padding*4/3 71px $padding*4/3;
    margin-top: 53px;
    height: calc(100% - 53px);
    margin-left: $sidebar-width;

    &-full{
    margin-right : $channel-info-width;
    transition: margin-right .2s ease-in-out;
    }

    &.home-content{
      margin-left: 0;
    }

    .message {
      font-size: 15px;
      color: $secondary;
    }
    .username, h2 {
      color: darken($primary, 15%);
      font-weight: 900;
    }
    li {
      margin-top: $padding/2;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    p {
      margin: 0 0 $padding/2 0;
    }
    .time {
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 3px;
    }
    .edit {
      font-size: 12px;
      margin-left: 3px;
      text-decoration: none;
      color: grey;
      display: none;
    }
    .message-body:hover .edit {
      display: inline;
    }
    .message-body {
      float: left;
    }
  }

  &-footer {
    position: fixed;
    bottom: 0;
    left: $sidebar-width;
    right: 0;
    padding: $padding $padding*4/3-3px;
    background: white;
    z-index: 1;

    &-full {
      right : $channel-info-width;
      transition: right .2s ease-in-out;
    }
  }

  &-remove-icon {
    color: lighten(desaturate($primary, 30%), 60%);
    cursor: pointer;
    margin-left: 40px;
    transition: color .3s ease-in-out;

    &:hover {
      color: $primary;
    }

  }
  &-display-info-icon {
    color: lighten(desaturate($primary, 30%), 60%);
    cursor: pointer;
    margin-left: 20px;
    transition: color .3s ease-in-out;

    &:hover {
      color: $primary;
    }

  }

  label {
    text-transform: uppercase;
    font-size: 14px;
  }

  &-dropdown {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $light-background;
    color: $secondary;
    position: absolute;
    left: 230px;
    width: 200px;
    top: 50px;
    z-index: 2;
    border-radius: .375rem;
    box-shadow: 0 3px 8px rgba(0,0,0,.25);
    text-shadow: none;
    font-size: 0.8rem;

    .header-item {
      position: relative;

      hr {
        position: absolute;
        left: 0;
        width: 100%;
      }

      &-content {
        color: lighten($secondary, 20%);
        font-size: 0.7rem;
        z-index: 2;
        padding-right: 1rem;
        background-color: white;
        position: relative;
      }
    }

    &-topic-input {
      @extend .form-message-input;
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }

}
