.left-sidebar {
  position: fixed;
  top: $top;
  width: $sidebar-width;
  background: $primary;
  height: calc(100% - 53px);
  padding: $padding;
  box-sizing: border-box;
  z-index: 2;
  &, a {
    color: lighten($primary, 30%);
    text-decoration: none;
    text-shadow: 1px 1px darken($primary, 5%);
  }
  a {
    padding: 0;
    display: block;
  }
  ul {
    margin: $padding/2 0;
  }
  li a:before {
    color: lighten($primary, 10%);
  }
  .active {
    background: $accent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -$padding;
    padding-left: $padding;
    a {
      color: white;
      text-shadow: 1px 1px darken($accent, 10%);
      &:before {
        color: lighten($accent, 20%);
      }
    }
  }
  .team {
    position: fixed;
    top: 0;
    background: darken($primary, 5%);
    border-bottom: solid 2px darken($primary, 10%);
    width: $sidebar-width;
    margin-left: -$padding;
    padding-left: $padding;
    text-shadow: none;
    line-height: $top;
    height: $top;
    box-sizing: border-box;
    font-weight: 900;
    color: white;
  }
  .aside-section {
    margin-bottom: 35px;
  }
  .user-circle-online {
    color: $online;
  }
  .user-circle-offline {
    color: $offline;
  }
  .user-circle-idle {
    color: $idle;
  }

  &-channels {
    li a:before {
      content: '#';
      margin-right: 3px;
      font-weight: bolder;
    }

    &-add-form {
      padding: $padding/2 0;
      input[type="text"] {
        background: none;
        border: solid 2px lighten($primary, 30%);
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        color: lighten($primary, 40%);
        font-weight: 300;
        font-size: 15px;
        text-shadow: none;
        display: block;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &-user {
    position: fixed;
    display: block;
    width: 220px;
    box-sizing: border-box;
    padding: $padding/2;
    margin: 0 (-$padding);
    bottom: 0;
    background: darken($primary, 5%);
    border-top: solid 2px darken($primary, 10%);
    line-height: 35px;
    font-weight: 900;
    a {
      display: inline;
    }
    a.login-link-text {
      color: white;
      text-decoration: none !important;
    }

    &-show-dropdown {
      float: right;
      display: block;
      padding: 0;
      border: none;
      background: transparent;
      color: lighten($primary, 30%);
      cursor: pointer;
      font-size: 20px;
      margin-top: 6px;
    }

    &-dropdown {
      padding: 1rem 1.25rem 0.2rem 1.25rem;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: $light-background;
      color: $secondary;
      position: absolute;
      left: 150px;
      width: 200px;
      bottom: 50px;
      z-index: 2;
      border-radius: .375rem;
      box-shadow: 0 3px 8px rgba(0,0,0,.25);
      text-shadow: none;
      font-size: 0.8rem;

      a {
        color: $secondary;
        text-shadow: none;
      }

      .header-item {
        position: relative;

        hr {
          position: absolute;
          left: 0;
          width: 100%;
        }

        &-content {
          color: lighten($secondary, 20%);
          font-size: 0.7rem;
          z-index: 2;
          padding-right: 1rem;
          background-color: white;
          position: relative;
        }

      }

      ul.menu-items {

        li.menu-item {

          &:hover {
            background: $accent;
            border-radius: 4px;
            padding-left: $padding;
            margin: 0 -1rem;
            a {
              color: white;
              text-shadow: 1px 1px darken($accent, 10%);
              &:before {
                color: lighten($accent, 20%);
              }
            }
          }

          a {
            color: $secondary;
          }

        }

      }

      ul li a {
        color: $dark-text;
        text-shadow: none;
      }
    }

  }
}
