@mixin channel() {
  &:before {
    content: '#';
    color: lighten(desaturate($primary, 30%), 30%);
    font-weight: normal;
    margin-right: 3px;
  }
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1rem;
  color: #555459;
}

ul, li {
  padding: 0 0 2px;
  margin: 0;
  list-style: none;
  line-height: 1.5rem;
}

header,
aside,
footer {
  position: fixed;
}

header {
  top: 0;
  height: $top;
  margin-left: $aside;
  background: white;
  width: 100%;
  //font-size: 24px;
  font-weight: 900;

  * {
    display: inline-block;
  }

  &.home-header{
    margin-left: 0;
  }

  h1 {
    padding: 0 $padding + 4px; // padding only on left and right side.
    margin: 0;
    line-height: 53px;
    color: $primary;
  }
}

label {
  text-transform: uppercase;
  font-size: 14px;
}

.show-form {
  float: right;
  display: block;
  padding: 0;
  border: none;
  color: lighten($primary, 30%);
  background: $primary;
  font-size: 17px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}

.left-sidebar .list-channels a,
header h1 {
  @include channel();
}

.channel-remove-icon {
  color: lighten(desaturate($primary, 30%), 60%);
  cursor: pointer;
  margin-left: 40px;
  position : fixed;
  margin: 20px 0px;
  transition: color .3s ease-in-out;
  font-size: 24px;

  &:hover {
    color: $primary;
  }
}

.channel-display-info-icon {
  color: lighten(desaturate($primary, 30%), 60%);
  cursor: pointer;
  right: 40px;
  position : fixed;
  margin: 20px 0px;
  transition: color .3s ease-in-out;
  font-size: 24px;

  &:hover {
    color: $primary;
  }
}

.add-channel-form {
  padding: $padding/2 0;
  input[type="text"] {
    background: none;
    border: solid 2px lighten($primary, 30%);
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    color: lighten($primary, 40%);
    font-weight: 300;
    font-size: 15px;
    text-shadow: none;
    display: block;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.left-sidebar {
  top: $top;
  width: $aside;
  background: $primary;
  height: calc(100% - 53px);
  padding: $padding;
  box-sizing: border-box;
  z-index: 2;
  &, a {
    color: lighten($primary, 30%);
    text-decoration: none;
    text-shadow: 1px 1px darken($primary, 5%);
  }
  a {
    padding: 0;
    display: block;
  }
  #login-buttons {
    &, a {
      text-shadow: none !important;
    }
  }
  ul {
    margin: $padding/2 0;
  }
  li a:before {
    color: lighten($primary, 10%);
  }
  .active {
    background: $accent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -$padding;
    padding-left: $padding;
    a {
      color: white;
      text-shadow: 1px 1px darken($accent, 10%);
      &:before {
        color: lighten($accent, 20%);
      }
    }
  }
  .team {
    position: fixed;
    top: 0;
    background: darken($primary, 5%);
    border-bottom: solid 2px darken($primary, 10%);
    width: $aside;
    margin-left: -$padding;
    padding-left: $padding;
    text-shadow: none;
    line-height: $top;
    height: $top;
    box-sizing: border-box;
    font-weight: 900;
    color: white;
  }
  .aside-section {
    margin-bottom: 35px;
  }
  .user-circle-online {
    color: $online;
  }
  .user-circle-offline {
    color: $offline;
  }
  .user-circle-idle {
    color: $idle;
  }

  &-channels {
    li a:before {
      content: '#';
      margin-right: 3px;
      font-weight: bolder;
    }
  }
}

.user {
  position: fixed;
  display: block;
  width: 220px;
  box-sizing: border-box;
  padding: $padding/2;
  margin: 0 (-$padding);
  bottom: 0;
  background: darken($primary, 5%);
  border-top: solid 2px darken($primary, 10%);
  line-height: 35px;
  font-weight: 900;
  a {
    display: inline;
  }
  a.login-link-text {
    color: white;
    text-decoration: none !important;
  }
}

#login-dropdown-list {
  bottom: 30px;
  left: 50px;
  top: initial;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
}

.avatar {
  width: 40px;
  border-radius: 4px;
  float: left;
  margin-right: $padding*2/3;
}

.message-input,
.edit-message-input {
  border: solid 2px lightgray;
  border-radius: 4px;
  padding: $padding/2;
  width: 100%;
  box-sizing: border-box;
  resize: none !important;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}

article {
  padding: $padding $padding*4/3;
  margin-top: 53px;
  height: calc(100% - 53px);
  margin-left: $aside;
  margin-right: 0px;

  &.home-content{
    margin-left: 0;
  }


  .message {
    font-size: 15px;
    color: $secondary;
  }
  .username, h2 {
    color: darken($primary, 15%);
    font-weight: 900;
  }
  li {
    margin-top: $padding/2;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  p {
    margin: 0 0 $padding/2 0;
  }
  .time {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 3px;
  }
  .edit {
    font-size: 12px;
    margin-left: 3px;
    text-decoration: none;
    color: grey;
    display: none;
  }
  .message-body:hover .edit {
    display: inline;
  }
  .message-body {
    float: left;
  }
  .emoji {
    height: 23px;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.channel-info {
  right : 0px;
  top: $top;
  width: $channelInfo;
  background: $white;
  height: calc(100% - 53px);
  padding: $padding;
  box-sizing: border-box;
  z-index: 2;
  transition: right .2s ease-in-out;
  transition: margin-right .2s ease-in-out;
  &, a {
    color: lighten($primary, 30%);
    text-decoration: none;
    text-shadow: 1px 1px darken($primary, 5%);
  }
  a {
    padding: 0;
    display: block;
  }
  ul {
    margin: $padding/2 0;
  }
  li a:before {
    color: lighten($primary, 10%);
  }
  .aside-section {
    margin-bottom: 35px;
  }
  .title {
    color : #555459;
    text-shadow : none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
  }

}

.pane-off {
  right : -$channelInfo;
  transition: right .2s ease-in-out;
}

.article-full {
  margin-right : $channelInfo;
  transition: margin-right .2s ease-in-out;
}

.footer-full {
  right : $channelInfo;
  transition: right .2s ease-in-out;
}

footer {
  position: fixed;
  bottom: 0;
  left: $aside;
  right : 0px;
  padding: $padding $padding*4/3-3px;
  background: white;
  z-index: 1;
}
