$sidebar-width: 220px;
$top: 53px;
$channel-info-width: 315px;

$light-text: white;
$dark-text: black;
$light-background: white;
$dark-background: black;
$primary: #1b171f;
$secondary: #3D3C40;
$accent: #6089b9;
$online: #38978D;
$offline: #ab9ba9;
$idle: lighten($primary, 15%);
$white: #FFFFFF;

$padding: 16px;
