.at-form {
  width: 300px;
  margin: auto;
  padding: 30px;
  border: 1px solid #372c36;
  margin-top: 5%;
}

.at-input {
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  span {
    display: block;
    margin-top: 5px;
  }
  &.has-error {
    input {
      border-color: red;
    }
    span {
      color: red;
    }
  }
}

.at-btn {
  width: 100%;
  padding: 8px;
}