<template name="home">
  {{#content}}
    <!--<p>This is the homepage here should a user be able to login. When he's logged in he should be able to select the team on which he has access to.-->
    <!--For the time being every member has access to every team which means that a logged in user should see all the teams here. The <a href="{{pathFor 'teamHome' team="public" }}">public team</a>  gets created by default</p>-->
    <!--<p>If you have ever started an older version of SpaceTalk please clear you database first after that you can login with admin/admin.</p>-->
    <!--{{> atForm state='signIn'}}-->
    <!--Once you log in, you will automatically be redirected to the backend interface.-->
    {{#if currentUser}}
    <div class="breif">
      <p><strong>Welcome to SpaceTalk.</strong> SpaceTalk is made for communication in teams, and we've created one for you to get you started.</p>
    </div>
    <div class="content-inner-form">
      {{#if currentUser}}
        <h3>Teams</h3>
        {{#if teams}}
          <ul>
            {{#each teams}}
              <li><a href="{{pathFor 'teamHome' team=slug }}" target="_blank"><span class="wide">{{name}}</span></a></li>
            {{/each}}
          </ul>
        {{else}}
          <p>Looks like you don't have access to an team.</p>
        {{/if}}
      {{else}}
        {{> atForm state='signIn'}}
      {{/if}}
    </div>
    {{else}}
    <div class="content-inner-form">
      {{> atForm state='signIn'}}
    </div>
    {{/if}}
  {{/content}}
</template>
