<template name="channelInfo">
  <aside class="channel-info channel-info-out">
    <span class="title">
      Channel info
      <i data-action="display-channel-info" class="fa fa-times channel-info-exit"></i>
    </span>
    <div class="aside-section channel-accordion">
      <ul class="scroll">
        <li>
          <input type="checkbox" checked>
          <i class="fa fa-caret-down"></i>
          <h2><i class="fa fa-info-circle icon icon-about"></i> About this channel</h2>
          <p>About this channel to be here</p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i class="fa fa-caret-down"></i>
          <h2><i class="fa fa-thumb-tack icon icon-pinned"></i> Pinned items</h2>
          {{#each pinnedMessages}}
            {{> message}}
          {{/each}}
        </li>
        <li>
          <input type="checkbox" checked>
          <i class="fa fa-caret-down"></i>
          <h2><i class="fa fa-user icon icon-members"></i> Members</h2>
          <p>Members content to be here</p>
        </li>
      </ul>
    </div>
  </aside>
</template>
