<template name="channel">
  {{#if currentChannel}}
    {{#unless currentChannel.direct}}
      {{> channelInfo}}
    {{/unless}}
    {{> channelDropdown}}
    {{#header class="channel-header"}}
      <h1 class="channel-title">
        {{currentChannel.channelName}}
        <i class="fa fa-angle-down"></i>
        <span class="topic">{{currentChannel.topic}}</span>
      </h1>
      {{#unless currentChannel.direct}}
        <i class="fa fa-trash-o channel-remove-icon" data-action="remove-channel"></i>
        <i class="fa fa-info-circle channel-display-info-icon" data-action="display-channel-info"></i>
      {{/unless}}
    {{/header}}
    {{#content class="channel-content"}}
      <ul class="channel-scroll">
        {{#each messages}}
          {{> message this}}
        {{/each}}
      </ul>
    {{/content}}
    {{#footer class="channel-footer"}}
      {{> messageTab}}
      {{> messageForm usersTyping=usersTyping}}
    {{/footer}}
  {{else}}
    {{> notFound}}
  {{/if}}
</template>

<template name="messageForm">
  <form>
    <textarea rows="1" cols="100" name="message" class="form-message-input" autofocus="true"></textarea>
  </form>
  <span class="form-users-typing">{{usersTyping}}</span>
</template>


<template name="messageTab">
  <section class="message-tab-container">
    <div class="message-tab-content"></div>
  </section>
</template>

<template name="channelDropdown">
  <div class="channel-dropdown hidden">
    <ul>
      <ul>
        <li><a href="#" class="channel-purpose">Set channel purpose</a>
          <div class="channel-purpose-form hidden">
            <textarea name="channel-purpose" class="channel-purpose-input" cols="30" rows="1">{{removeTrailingSpaces currentChannel.purpose}}</textarea>
          </div>
        </li>
        <li><a href="#" class="notification-settings">Notification settings</a></li>
      </ul>
    </ul>
    <div class="header-item">
        <span class="header-item-content">Set channel topic</span>
    </div>
    <input name="channel-topic" class="channel-dropdown-topic-input" type="text" value="{{currentChannel.topic}}">
  </div>
</template>
