<template name="channel">
  {{#header}}
    <h1 class="channel-title">
      {{currentChannel.name}}
      <i class="fa fa-trash-o channel-remove-icon" data-action="remove-channel"></i>
    </h1>
  {{/header}}
  {{#content}}
    <ul>
      {{#each messages}}
        {{> message this}}
      {{/each}}
    </ul>
  {{/content}}
  {{#footer}}
    {{> messageForm}}
  {{/footer}}
</template>

<template name="messageForm">
  <form>
    <textarea rows="1" cols="100" class="message-input" autofocus="true"></textarea>
  </form>
</template>
