<template name="channel">
  {{> channelInfo}}
  {{#header}}
    <h1 class="channel-title">
      {{currentChannel.name}}
    </h1>
    <i class="fa fa-trash-o channel-remove-icon" data-action="remove-channel"></i>
    <i class="fa fa-info-circle channel-display-info-icon" data-action="display-channel-info"></i>
  {{/header}}
  {{#content}}
    <ul class="scroll">
      {{#each messages}}
        {{> message this}}
      {{/each}}
    </ul>
  {{/content}}
  {{#footer}}
    {{> messageForm}}
  {{/footer}}
</template>

<template name="messageForm">
  <form>
    <textarea rows="1" cols="100" class="message-input" autofocus="true"></textarea>
  </form>
</template>
